<table style="width: 100%">
    <tr>
        <td colspan="3" style="height: 100px;"></td>
    </tr>
    <tr>
        <td></td>
        <td style="width: 300px;">
            @using (Html.BeginForm("PasswordExpired", "Account"))
            {
                <div style="text-align: center;">
                    <fieldset style="width: 300px; text-align: center;">
                        <legend style="font-size: 12px; font-weight: bold"><span data-trans-key='تغییر کلمه عبور'> </span></legend>
                        <table style="width: 100%">
                            <tr>
                                <td colspan="2"></td>
                            </tr>
                            <tr>
                                <td style="text-align: left">
                                    @Html.Label("کلمه عبور جاری:")
                                </td>
                                <td style="text-align: right">
                                    @Html.Password("Password")
                                </td>
                            </tr>
                            <tr>
                                <td style="text-align: left">
                                    @Html.Label("کلمه عبور جدید:")
                                </td>
                                <td style="text-align: right">
                                    @Html.Password("NewPassword")
                                </td>
                            </tr>
                             <tr>
                                <td style="text-align: left">
                                    @Html.Label("تکرار کلمه عبور جدید:")
                                </td>
                                <td style="text-align: right">
                                    @Html.Password("ConfirmNewPassword")
                                </td>
                            </tr>
                            <tr>
                                <td colspan="3">
                                    @Html.ValidationSummary(true, "عملیات تغییر رمز موفقیت آمیز نبود!", new { @style = "color:red;font-weight: bold;" })
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2" style="margin-left: 100px; padding-left: 32px; text-align: left;">
                                    <input type="submit" data-trans-key='ذخیره' data-trans-attr='value'  />
                                </td>
                            </tr>
                        </table>
                    </fieldset>
                </div>
            }
        </td>
        <td></td>
    </tr>
</table>
