<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<title> @ViewBag.Title</title>
	<link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
	<meta name="viewport" content="width=device-width" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	@if (ViewBag.isRtl) {
		@Styles.Render("~/Content/css-rtl")
	} else {
		@Styles.Render("~/Content/css")
	}
	<script src="~/dist/lib/jquery-1.11.1.min.js"></script>
	<script src="~/dist/lib/jquery-ui-1.10.4.custom.min.js"></script>
	<script src="~/dist/lib/jquery.fileupload.min.js"></script>
	<script src="~/dist/lib/jquery.gridster.with-extras.min.js"></script>
	<script src="~/dist/lib/jquery.gridster.with-extras.min2.js"></script>
	<script src="~/dist/lib/jquery.ui.widget.min.js"></script>
	<script src="~/dist/lib/angular.min.js"></script>
	<script src="~/dist/lib/angular-animate.min.js"></script>
	<script src="~/dist/lib/angular-route.min.js"></script>
	<script src="~/dist/lib/bootstrap-datepicker.fa.min.js"></script>
	<script src="~/dist/lib/bootstrap-datepicker.min.js"></script>
	<script src="~/dist/lib/bootstrap-select.min.js"></script>
	<script src="~/dist/lib/bootstrap.min.js"></script>
	<script src="~/dist/lib/d3.v3.min.js"></script>
	<script src="~/dist/lib/sortable.min.js"></script>
	<script src="~/dist/lib/topojson.min.js"></script>
	<script src="~/dist/lib/underscore.min.js"></script>
	<script src="~/dist/lib/jquery.treeview.js"></script>


</head>
<body>
	<div class="sadaf-root">

		<header>
			@RenderSection("MainMenu", required: false)
		</header>
		<div class="container-fluid">
			<div class="row" style=" min-height: 350px;">
					@RenderBody()
			</div>
		</div>

		<footer>
			<div class="footer">
				<p>© تمامی حقوق برای داشبورد صدف محفوظ است</p>
			</div>
		</footer>
		<div id="divAjaxErr">
			<div id="content" dir="ltr"></div>
		</div>

	</div>

	<script>
		//در فایرفاکس زمانی که راست کلیک میکنیم، دراپدان بسته می‌شود و این کد این مسئله را حل میکند
		$(document).on('click', function (e) {
			e.button === 2 && e.stopImmediatePropagation();
		});
	</script>
	@*@Scripts.Render("~/bundles/bs")
	@Scripts.Render("~/bundles/charts")*@

	@*<script src="~/dist/"></script>*@
	<script>

		//app.setUrlPrefix("@Url.Action("Index", "Charts", new { area = "Moderation" })");
		//app.lang.setLangTyle(@ViewBag.lang);

	</script>
	@*@Scripts.Render("~/bundles/appmodules")*@
	@RenderSection("scripts", required: false)
	@*<script src="~/Scripts/app/router.js?v=@typeof(BLL.ApplicationLicense.License).Assembly.GetName().Version"></script>*@
@*	<script src="~/Scripts/sit/jquery.sit.ajax.js?v=@typeof(BLL.ApplicationLicense.License).Assembly.GetName().Version"></script>*@
	
</body>
</html>
