@{
    Layout = "~/Views/Shared/_LayoutLogin-v2.cshtml";
}
<div class="ui container">
    <style>
        body {
            margin: 0;
            padding-top: 0px;
            padding-bottom: 40px;
            background-color: #eee;
        }

        .pass-container.active input.ui.input {
            font-family: IRANSans !important;
        }

        .pass-container {
            position: relative;
        }

            .pass-container input.ui.input {
                font-family: text-security-disc !important;
                border-bottom-left-radius: 4px !important;
                border-bottom-right-radius: 4px !important;
                border-top-left-radius: 0 !important;
                border-top-right-radius: 0 !important;
            }

        i.eye.icon {
            position: absolute !important;
            left: 10px !important;
            color: lightgray;
            cursor: pointer !important;
            z-index: 900;
            font-size: 20px;
            top: 13px;
        }

        .pass-container.active i.eye.icon {
            color: #666;
        }


        .form-signin {
            max-width: 970px;
            margin-top: 40px;
        }

        .same-height {
            margin-bottom: -99999px;
            padding-bottom: 99999px;
        }

        .hide-overflow {
            overflow: hidden;
        }

        .card {
            /*padding: 40px;*/
            background-color: #fff;
            border-radius: 6px;
        }

        .logo {
            max-width: 55%;
            height: auto;
            margin: 0 auto;
            margin-bottom: 16px;
            display: block;
        }

        .sadaf-desc {
            font-size: 13px;
            text-align: justify;
            margin-bottom: 30px;
        }

        body {
            margin: 0;
            padding-top: 0px;
            padding-bottom: 40px;
            background-color: #fff;
            overflow: auto;
        }

        .inline-h1 {
            display: inline;
            font-size: inherit;
            font-family: Droid !important;
        }

        #activationModal .content li {
            margin: 7px 0;
        }

        input[name=Password]::-webkit-input-placeholder {
            font-family: IRANSans;
        }

        input[name=Password]:-ms-input-placeholder {
            font-family: IRANSans;
        }

        input[name=Password]:-moz-placeholder {
            font-family: IRANSans;
        }

        input[name=Password]::-moz-placeholder {
            font-family: IRANSans;
        }
    </style>




    <div id="content-login">

        <form class="form-signin" method="post">

            <input type="hidden" name="@ViewBag.AntiforgeryName" value="@ViewBag.Antiforgery" />
            <input type="hidden" name="ReturnUrl" value="@ViewBag.ReturnUrl" />
            <input type="hidden" name="ReturnUrlHash" value="" />
            <input type="hidden" name="savePasswordAbility" value="@ViewBag.savePasswordAbility.ToString()" />
            <input type="hidden" name="isPdn" value="@BLL.Process.CommonUtils.AppSettings.userVerification().ToString()" />

            <div class="tw-px-10">
                <div class="tw-max-w-md  tw-m-auto">
                    <div class="card ">

                        @*@if (ViewBag.logoId > 0) {
                                <img class="logo" src="~/api/settings/getLogoFile/@ViewBag.logoId" alt="Sadaf Dashboard, Management Dashboard, نرم افزار داشبورد مدیریت" />
                            } else {
                                <img class="logo" src="~/api/settings/getLogo/0" alt="Sadaf Dashboard, Management Dashboard, نرم افزار داشبورد مدیریت" />
                            }*@
                        <img class="logo" src="~/images/logo_half.png" alt="Sadaf Dashboard, Management Dashboard, نرم افزار داشبورد مدیریت" />
                        <br />



                        <div style="direction: ltr">
                            <div class="ui fluid left icon input big">
                                <input name="UserName" type="text" class="" placeholder="@((ViewBag.pdn ?? false)  ? "نام کاربری یا کد ملی": ViewBag.msg["username"])" autofocus autocomplete="off">
                                <i class="user icon"></i>
                            </div>
                            <div class="pass-container">

                                <i class="eye icon"></i>
                                <div class="ui fluid left icon input big">
                                    @if (ViewBag.savePasswordAbility) {
                                        <input name="Password" type="password" autocomplete="off" class="ui fuild input" placeholder="@ViewBag.msg["password"]">
                                    } else {
                                        <input name="Password" type="text" style="" autocomplete="off" class="ui fuild input" placeholder="@ViewBag.msg["password"]">
                                    }
                                    <i class="lock icon"></i>
                                </div>
                            </div>
                        </div>

                        @*<label class="" style="margin: 10px 0; display: block;">
                            <input type="checkbox" value="remember-me" name="rememberme">
                            @ViewBag.msg["remember"]
                            </label>*@

                        <br />
                        <br />

                        <div class="field" id="capcha" style="display:none">
                            <div style="text-align:center;">
                                <div style="float:right;">
                                    <img id="captcha-image" src="data:image/jpeg;base64,@ViewBag.captcha" />
                                </div>
                                <div class="ui button basic icon" id="reCaptcha" style="float:left; margin:0;"><i class="ui icon refresh"></i></div>
                            </div>
                            <div class="ui icon input" style="margin-bottom:15px;margin-top:4px; width:100%;">
                                <input name="captcha-code" type="text" class="ui fuild input" style="line-height: 1.7em;border-radius:4px;" />
                                <i class="chess board icon"></i>
                            </div>
                            <small class="field-info"></small>
                        </div>

                        <div class="ui negative message" style="display:none" data="@(string.IsNullOrEmpty(ViewBag.error).ToString())">
                            @Html.Raw(ViewBag.error)
                        </div>
                        <a class="ui blue fluid button big" id="login">@ViewBag.msg["login"]</a>


                        @if (ViewBag.publicSignup ?? false) {
                            <br />
                            <a class="ui basic fluid button big" href="@Url.Action("signup", "account")">@ViewBag.msg["signup"]</a>
                        }


                        @if (ViewBag.sso != null && (ViewBag.sso.enable ?? false)) {
                            <br />
                            <a class="ui basic fluid button big" href="@Url.Action("sso", "account")?isWeb=true">@ViewBag.sso.loginKeyLabel</a>
                        }

                        @if (!String.IsNullOrEmpty(ViewBag.supportLink)) {
                            <br />
                            <a title="@ViewBag.supportDesc" class="ui basic fluid button big" target="_blank" href="@ViewBag.supportLink">@(ViewBag.supportTitle ?? "پشتیبانی")</a>
                        }




                        <a style="margin-top:40px; display:block;" class="pointer" href="@Url.Action("resetPass", "account")">@ViewBag.msg["forgot password"]</a>

                        <div style="margin-top:40px; display:block;">
                            @(ViewBag.msg["info"])
                        </div>

                        <div class="tw-flex  tw-justify-between   tw-space-x-2 tw-space-x-reverse"
                             style="font-size: 13px; padding: 20px 0;">
                            @{
                                var version = typeof(BLL.ApplicationLicense.License).Assembly.GetName().Version;


                            }
                            @if (!ViewBag.dontShowVersions) {
                                <div>@ViewBag.msg["version"] : <b>@BLL.Process.CommonUtils.PersianDigit(version.Major + "." + version.Minor + "." + version.Build) </b> </div>
                                <span>|</span> <div>@ViewBag.msg["db version"]: <b> @BLL.Process.CommonUtils.PersianDigit(ViewBag.DbVersion.ToString())</b></div>
                                <span>|</span> <a class="show-last-change pointer">@ViewBag.msg["change list"]</a>
                                <span>|</span>
                            }
                            <a class="show-help pointer">@ViewBag.msg["help"]</a>
                        </div>
                        @if (ViewBag.mobileApp ?? false) {
                            <div class="text-left">
                                <a href="https://www.sadafdashboard.ir/files/sadaf.apk" class="ui xblack label">@ViewBag.msg["download android"]</a>
                            </div>
                        }

                    </div>


                </div>


            </div>

        </form>

    </div>


    <div id="content-code" style="display:none" class="tw-px-10">
        <input type="hidden" name="ReturnUrl" value="@ViewBag.ReturnUrl" />
        <form class="">
            <div class="tw-px-10">
                <div class="tw-max-w-md  tw-m-auto">
                    <img class="logo" src="~/images/logo_half.png" alt="Sadaf Dashboard, Management Dashboard, نرم افزار داشبورد مدیریت" />
                    <br />

                    <div class="card">

                        <div style="direction: ltr">
                            <div class="ui fluid left icon input big" style="margin-bottom:15px;">
                                <input name="code" type="text" class="" placeholder="@ViewBag.msg["activation code"]" autofocus style="border-radius:4px; margin-bottom:0;">
                                <i class="barcode icon"></i>
                            </div>
                        </div>
                        <div class="tw-float-left"> زمان مجاز برای ورود کد <b class="remain-time"></b> ثانیه</div>
                        <br />
                        <div class="ui negative message" style="display:none" data="@(string.IsNullOrEmpty(ViewBag.error).ToString())">
                            @Html.Raw(ViewBag.error)
                        </div>

                        <a class="ui blue fluid button big" style="margin-top:40px" id="code-btn">@ViewBag.msg["login"]</a>

                        <a href="@Url.Action("login")">شروع مجدد</a>

                    </div>
                </div>
            </div>
        </form>

    </div>


    <script>
        (function () {


        })();
    </script>


    <div id="last-changes" class="ui modal">
        <i class="close icon"></i>

        <div class="header">
            <div class="">لیست تغییرات</div>
        </div>

        <div class="content scrolling">
            <ul>
                @{
                    var text = File.ReadAllLines(Server.MapPath("~/ChangeLog.txt"));
                    for (int i = 0; i < text.Length; i++) {
                        text[i] = BLL.Process.CommonUtils.PersianDigit(text[i]);
                        text[i] = System.Text.RegularExpressions.Regex.Replace(text[i], "^([^\t]*)$",
                            (i == 0 ? "" : "</ul>") + "<ul style='margin-top:40px'><h3> نسخه $1</h3>");
                        text[i] = System.Text.RegularExpressions.Regex.Replace(text[i],
                            "^\t+-\\s*([۰۱۲۳۴۵۶۷۸۹0123456789/]*)\\s*(.*)$", "</li><li > <div>$2<div>");
                        <text>@Html.Raw(text[i])</text>
                    }
                }
            </ul>

        </div>

        <div class="actions">
            <div class="ui button deny black">تأیید</div>
        </div>

    </div>
    <div id="login-help" class="ui modal">
        <i class="close icon"></i>

        <div class="header">
            <div class="">راهنمای ورود</div>
        </div>

        <div class="content scrolling" style="line-height:1.9">
            <b>ورود عادی: </b>
            برای ورود به برنامه نیاز به نام کاربری و کلمه عبور است.
            ایجاد نام کاربری توسط مدیر سامانه انجام می‌شود. پس از دریافت اطلاعات ورود از مدیر، پس از وارد کردن
            نام کاربری و کلمه عبور در قسمت‌های مربوطه. کلید ورود را فشار دهید.

            <br />
            <br />
            <b>ورود دو عاملی: </b>
            در صورتی که دسترسی شما به صورت دو عاملی تعیین شده باشد، با انتخاب شیوه ورود به صورت دو عاملی با پست الکترنیک را انتخاب کنید. با وارد کردن اطلاعات ورود در سامانه
            یک کد ورود به ایمیل شما ارسال می‌شود. ۲۰ دقیقه فرصت دارید تا با وارد کردن این کد وارد برنامه شوید.

        </div>

        <div class="actions">
            <div class="ui button deny black">تأیید</div>
        </div>

    </div>

</div>