@{
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
    ViewBag.Title = ViewBag.msg["signup"];
}

<div class="ui container">
    <style>
        [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak, .ng-hide {
            display: none !important;
        }

        .form-signin {
            max-width: 970px;
            margin-top: 80px;
        }

        .same-height {
            margin-bottom: -99999px;
            padding-bottom: 99999px;
        }

        .hide-overflow {
            overflow: hidden;
        }

        .card {
            padding: 40px;
            background-color: #fff;
            border-radius: 6px;
        }

        .logo {
            max-width: 55%;
            height: auto;
            margin: 0 auto;
            margin-bottom: 16px;
            display: block;
        }

        .sadaf-desc {
            font-size: 13px;
            text-align: justify;
            margin-bottom: 30px;
        }

        body {
            margin: 0;
            padding-top: 0px;
            padding-bottom: 40px;
            background-color: #eee;
            overflow: auto;
        }

        .inline-h1 {
            display: inline;
            font-size: inherit;
            font-family: Droid !important;
        }

        #activationModal .content li {
            margin: 7px 0;
        }

        .form-signin {
            transition: all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
        }

        .field-info {
            font-weight: 200;
            font-size: 0.8em;
            color: gray;
        }

        .field.error .field-info {
            color: #9f3a38;
        }

        .form-signin .field input {
            line-height: 1.7em !important;
            padding: 8px 16px !important;
        }

        .form-signin input[type=number]::-webkit-inner-spin-button,
        .form-signin input[type=number]::-webkit-outer-spin-button {
            -webkit-appearance: none !important;
            -moz-appearance: none !important;
            opacity: 0;
            margin: 0;
        }
    </style>



    <div class="form-signin" ng-app="signup" ng-controller="cntl">
        <div class="ui stackable grid">
            <div class="col-md-6 six wide column">
                <div class="sadaf-desc">

                    <img class="logo" src="~/Images/logo_half.png" alt="Sadaf Dashboard, Management Dashboard, نرم افزار داشبورد مدیریت" />
                    <p>
                        @(ViewBag.msg["info"])
                    </p>
                    <div class="text-left">
                        <a href="http://www.sadafdashboard.ir/files/sadaf.apk" class="ui xblack label">@ViewBag.msg["download android"]</a>
                    </div>

                    <div style="margin-top:30px;">

                        <a style="display:flex; align-items:center;" href="@(!BLL.ApplicationLicense.ClientLicenseManager.GetInstance().HideCopyrightTemorary?"http://www.sadafdashboard.ir":"#")" target="_blank">
                            @if (bool.Parse(System.Configuration.ConfigurationManager.AppSettings["showCopyRightLogo"] ?? "true")) {
                                <img class="logo" style="width:50px; margin-left:10px; margin-right:0;" src="~/Images/copy_right_logo.png" alt="Sadaf Dashboard, Management Dashboard, نرم افزار داشبورد مدیریت" />
                            }

                            <span>@Html.Raw(ViewBag.msg["copy right"])</span>
                        </a>
                    </div>

                </div>
            </div>

            <div class="col-md-6 six wide column">
                <div class="card">
                    <div style="">

                        <div class="ui big form">

                            <div ng-show="step==1" class="field" ng-class="{error: validation.username==-1}">
                                <label>@ViewBag.msg["national code"] (نام کاربری)</label>
                                <div class="ui icon input" ng-class="{loading: checkUsernameProgress}">
                                    <input autocomplete="off" ng-model-options="{ allowInvalid: true, debounce: 500 }" ng-change="checkUsername()" ng-model="model.username" type="text" class="ui fuild input" />
                                    <i class="user icon" ng-class="{'link green check' : validation.username==1, 'user' : validation.username!=1}"></i>
                                </div>
                                <div class="field-info" ng-show="error.username.length">{{error.username}}</div>
                                <div class="field-info" ng-show="!model.username.length">کد ملی ۱۰ رقمی</div>
                            </div>

                            <div ng-show="step==1" class="field" ng-class="{error: validation.name==-1}">
                                <label>@ViewBag.msg["name"]</label>
                                <div class="ui icon input">
                                    <input ng-model="model.name" ng-blur="fieldValidate('name')" type="text" autocomplete="off" class="ui fuild input" />
                                    <i class="address book outline icon"></i>
                                </div>
                                <div class="field-info" ng-show="error.name.length">{{error.name}}</div>
                            </div>

                            <div ng-show="step==1" class="field" ng-class="{error: validation.family==-1}">
                                <label>@ViewBag.msg["family"]</label>
                                <div class="ui icon input">
                                    <input ng-model="model.family" ng-blur="fieldValidate('family')" type="text" autocomplete="off" class="ui fuild input" />
                                    <i class="address book outline icon"></i>
                                </div>
                                <div class="field-info" ng-show="error.family.length">{{error.family}}</div>
                            </div>

                            <div ng-show="step==1" class="field" ng-class="{error: validation.email==-1}">
                                <label>@ViewBag.msg["email"]</label>
                                <div class="ui icon input">
                                    <input name="email" ng-model="model.email" ng-blur="fieldValidate('email')" type="text" autocomplete="off" class="ui fuild input" />
                                    <i class="mail icon" xng-class="{'green link check' : validation.email==1, 'mail':  validation.email==1}"></i>
                                </div>
                                <div class="field-info">{{error.email}}</div>
                            </div>

                            <div ng-show="step==1" class="field" ng-class="{error: validation.password==-1}">
                                <label>@ViewBag.msg["password"]</label>
                                <div class="ui icon input">
                                    <input autocomplete="off" class="ltr" ng-model="model.password" ng-blur="fieldValidate('password')" type="{{showPass ? 'text':'password'}}" class="ui fuild input" />
                                    <i class="lock icon"></i>
                                </div>
                                <div class="field-info">حداقل ۸ کاراکتر شامل حروف بزرگ و کوچک انگلیسی و علامت</div>
                                <div class="field-info">{{error.password}}</div>
                                <label class="" style="font-weight:200; margin:10px 0; font-size:0.8em">
                                    <input type="checkbox" ng-model="showPass">
                                    @ViewBag.msg["show password"]
                                </label>
                            </div>

                            <div ng-show="step==1" class="field" ng-class="{error: validation.passwordRepeat==-1}">
                                <label>@ViewBag.msg["password repeat"]</label>
                                <div class="ui icon input">
                                    <input ng-model="model.passwordRepeat"class="ltr" ng-blur="fieldValidate('passwordRepeat')" type="{{showPass ? 'text':'password'}}" autocomplete="off" class="ui fuild input" />
                                    <i class="lock icon"></i>
                                </div>
                                <small class="field-info">{{error.passwordRepeat}}</small>
                            </div>

                            <div ng-show="step==2" class="field" ng-class="{error: validation.mobile==-1}">
                                <label>@ViewBag.msg["mobile"]</label>
                                <div class="ui icon input">
                                    <input ng-model="model.mobile" ng-blur="fieldValidate('mobile')" style="direction:ltr;text-align:left;padding-left: 70px !important;" type="text" autocomplete="off" class="ui fuild input" />
                                    <div style="position: absolute;left: 45px !important;top: 9px;font-weight:800">۰۹</div>
                                    <i class="phone icon" xng-class="{'green link check' : validation.mobile==1, 'phone':  validation.email==1}"></i>
                                </div>
                                <small class="field-info">{{error.mobile}}</small>
                            </div>


                            <div ng-show="step==2" class="field" ng-class="{error : error.captcha.length}">
                                <div style="text-align:center;">
                                    <div style="float:right;">
                                        <img ng-src="data:image/jpeg;base64,{{captchaPic}}" />
                                    </div>
                                    <div class="ui button basic icon" ng-click="reCaptcha()" style="float:left; margin:0;"><i class="ui icon refresh"></i></div>
                                </div>
                                <div class="ui icon input">
                                    <input ng-model="model.captcha" type="text" class="ui fuild input" />
                                    <i class="chess board icon"></i>
                                </div>
                                <small class="field-info">{{error.captcha}}</small>
                            </div>

                            <div ng-show="step==3" class="field" ng-class="{error: validation.activationCode==-1}">
                                <label>@ViewBag.msg["activation code"]</label>
                                <div class="ui icon input">
                                    <input ng-model="model.activationCode" type="text" autocomplete="off" class="ui fuild input" />
                                    <i class="barcode icon"></i>
                                </div>
                                <div class="field-info">{{error.activationCode}}</div>
                                <div class="field-info">زمان باقیمانده {{persian(timer)}} ثانیه </div>
                            </div>

                            <div class="ui message red" ng-if="error.general && error.general.length">
                                {{error.general}}
                            </div>

                            <button ng-show="step==1" class="ui blue fluid button big submit" ng-class="{loading: loading, disabled: loading }" ng-click="submit()" type="submit" style="margin-top:35px;">
                                مرحله بعد
                            </button>

                            <button ng-show="step==2" class="ui blue fluid button big submit" ng-class="{loading: smsloading, disabled: smsloading }" ng-click="sendPhoneCode()" type="submit" style="margin-top:35px;">
                                ارسال کد فعال‌سازی
                            </button>

                            @*<button ng-show="step==3" class="ui blue fluid basic button big submit" ng-class="{loading: smsloading, disabled: smsloading }" ng-click="sendSmsAgain()" type="submit" style="margin-top:35px;">
                                ارسال مجدد کد فعال‌سازی
                            </button>*@

                            <button ng-show=" step==3" class="ui green fluid button big submit" ng-class="{loading: loading, disabled: loading }" ng-click="submit()" type="submit" style="margin-top:35px;">
                                فعال‌سازی و ثبت نام
                            </button>
                            <button ng-show="step != 1" class="ui basic fluid button big submit" ng-click="stepBack()" type="submit" style="margin-top:35px;">
                                مرحله قبل
                            </button>

                            <div class="ui red message" ng-show="error.submit.length">
                                {{error.submit}}
                            </div>
                            <button ng-show="error.submit.length" class="ui green fluid basic button big submit" ng-click="resetForm()">
                                انجام دوباره عملیات
                            </button>

                        </div>
                    </div>
                    <div class="ui modal info-modal">
                        <div class="header">پیام</div>
                        <div class="content">حساب کاربری شما با موفقیت ساخته شد</div>
                        <div class="actions">
                            <div class="ui green button" ng-click="login()">ورود</div>
                        </div>

                    </div>
                    @if (ViewBag.error != null) {
                        <div class="ui negative message">
                            @Html.Raw(ViewBag.error)
                        </div>
                    }

                </div>
            </div>
        </div>
    </div>


    @section scripts{

        <script>
            app = angular.module('signup', []);
            app.controller('cntl', ['$scope', '$http', '$interval', function ($scope, $http, $interval) {

                $scope.step =1;
                $scope.persian = function persian(s) {
                    if (s == null) return s;
                    var reps = {
                        0: '۰',
                        1: '۱',
                        2: '۲',
                        3: '۳',
                        4: '۴',
                        5: '۵',
                        6: '۶',
                        7: '۷',
                        8: '۸',
                        9: '۹',
                    };
                    s = s + "";
                    return s.replace(/(\d)/g, function (s, key) {
                        return reps[key] || s;
                    });
                };
                $scope.model = {};
                //$scope.model = {username:1288432410,name:'sd', family:'sd', email: 'azetrom.a@gmail.com', password: '123!aA123', passwordRepeat: '123!aA123', mobile:'132103532' };
                $scope.error = {};
                $scope.loading = false;
                $scope.captchaPic = "@ViewBag.captcha";
                var signupLink = "@Url.Action("signup", "account")";
                var checkusernameLink = "@Url.Action("checkusername", "account")";
                var getCaptchalink = "@Url.Action("getCaptcha", "account")";
                var smsLink = "@Url.Action("sendActivationSms", "account")";
                $scope.validation = {};
                $scope.validation.username = 0;
                $scope.validation.password = 0;
                $scope.validation.passwordRepeat = 0;
                $scope.validation.email = 0;
                $scope.validation.mobile = 0;
                var lastUsernameOnlinValidation = 0;

                $scope.stepBack = function () {
                    $scope.step = $scope.step - 1;
                    if ($scope.step == 2) {
                        $scope.sendSmsAgain();
                    }
                }

                $scope.checkUsername = function () {
                    $scope.checkUsernameProgress = true;
                    //$scope.checkUsernameState = false;
                    $http.post(checkusernameLink , { username: $scope.model.username })
                    .then(function (res) {
                        $scope.checkUsernameProgress = false;
                        //$scope.checkUsernameState = !res.data.exist;
                        $scope.validation.username = (!res.data.exist && res.data.isValid)? 1:-1;
                        if ($scope.validation.username == -1) {

                            if (res.data.exist)
                                $scope.error.username = 'کد ملی وارد شده قبلا در سامانه ثبت نام شده است';

                            if (!res.data.isValid)
                                $scope.error.username = 'کد ملی وارد شده معتبر نیست';

                        } else { $scope.error.username = null; }

                        lastUsernameOnlinValidation = $scope.validation.username;
                        lastUsernameOnlinValidationError = $scope.error.username;
                        });

                }

                $scope.resetForm = function () {
                    $scope.step = 1;
                    $scope.error.submit = null;
                }

                $scope.login = function () {
                    window.location = '/'
                }

                $scope.submit = function () {
                    generalValidationItem('name');
                    generalValidationItem('family');
                    generalValidationItem('password');
                    generalValidationItem('username');
                    generalValidationItem('email');
                    generalValidationItem('passwordRepeat');

                    if ($scope.validation.username       == -1 ||
                        $scope.validation.name           == -1 ||
                        $scope.validation.family         == -1 ||
                        $scope.validation.password       == -1 ||
                        $scope.validation.passwordRepeat == -1 ||
                        $scope.validation.email          == -1) {
                        return;
                    }

                    if ($scope.step == 1) {
                        $scope.step = 2;
                        return;
                    }

                    $scope.loading = true;
                    $http.post(signupLink , { model: $scope.model })
                    .then(function (res) {
                        $scope.loading = false;
                        if (res.data.result) {
                            $('.info-modal')
                                .modal({ closable : false })
                                .modal('show');

                        } else {
                            $scope.error.submit = res.data.error;
                        }
                    })
                    .catch(function () {
                        $scope.loading = false;
                    });
                }

                $scope.sendSmsAgain = function () {
                    $scope.step = 2;
                    $scope.model.captcha = null;
                    $scope.model.activationCode = null;
                    $scope.error.captcha = null;
                    $scope.error.submit = null;
                    $scope.reCaptcha();
                    $interval.cancel($scope.interval);
                }

                function gotoStep3() {
                    $scope.step = 3;
                    $scope.timer = 120;
                    $scope.interval = $interval(function () {
                        $scope.timer--;
                        if ($scope.timer == 0) {
                            $scope.sendSmsAgain();
                        }
                    }, 1000);
                }

                $scope.sendPhoneCode = function () {
                    generalValidationItem('mobile');
                    if ($scope.validation.mobile == -1) return;

                    $scope.error.general = null;
                    $scope.smsloading = true;
                    $http.post(smsLink, { mobile: $scope.model.mobile, captcha: $scope.model.captcha })
                        .then(function (res) {
                            $scope.smsloading = false;

                            if (!res.data.result && res.data.type == 'mobile') {
                                $scope.error.mobile = res.data.error;
                                $scope.validation.mobile = -1;

                            }else if (!res.data.result && res.data.type=='captcha') {
                                $scope.error.captcha = res.data.error;

                            } else if (!res.data.result) {
                                $scope.error.general= res.data.error;

                            } else {
                                gotoStep3();
                            }
                        })
                        .catch(function () {
                            $scope.smsloading = false;
                        });
                }

                $scope.reCaptcha = function () {
                    $scope.model.captcha = null;
                    $http.post(getCaptchalink).then(function (res) {
                        $scope.captchaPic = res.data;
                    });

                }

                function validateEmail(email) {
                    if (!email) return true;
                    var re = /^(([^<>()\[\]\\.,;:\s@@"]+(\.[^<>()\[\]\\.,;:\s@@"]+)*)|(".+"))@@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
                    return re.test(String(email).toLowerCase());
                }

                function validateMobile(email) {
                    if (!email) return true;
                    var re = /^[0-9]{9}$/;
                    return re.test(String(email).toLowerCase());
                }

                var validationStruct = {
                    username: [{ dataType: 'string', type: 'require', error:'کد ملی را وارد کنید'}],
                    name:     [{dataType:'string', type: 'require', error:'نام را وارد کنید'}],
                    family:   [{dataType:'string', type: 'require', error:'نام خانوادگی را وارد کنید'}],
                    email: [{ dataType: 'string', type: 'require', error: 'پست الکترونیک را وارد کنید' },
                            { dataType: 'string', type: 'email', error: 'پست الکترونیک معتبر نیست' }],
                    password: [{ dataType: 'string', type: 'require', error: 'کلمه عبور را وارد کنید' },
                        {
                            dataType: 'string', type: 'passwordPolicy',
                            error: 'کلمه عبور معتبر نیست',
                            errorLen: 'طول کلمه عبور باید ۸ کاراکتر باشد',
                            errorUppercase: 'حداقل یک حرف از کلمه عبور باید بزرگ باشد',
                            errorLowercase: 'حداقل یک حرف از کلمه عبور باید کوچک باشد',
                            errorNoChar: 'حداقل یک کاراکتر از !@@#$%^& باید استفاده شده باشد',
                            errorInvaliChar: 'استفاده از کاراکترهای |/:*?>< مجاز نیست'
                        }],
                    passwordRepeat: [{ dataType: 'string', type: 'require', error: 'تکرار کلمه عبور را وارد کنید' },
                                     { dataType: 'string', type: 'passwordRepeat', error: 'تکرار کلمه عبور با کلمه عبور یکسان نیست' }],
                    mobile: [{ dataType: 'string', type: 'require', error: 'تلفن را وارد کنید' },
                             { dataType: 'string', type: 'mobile', error: 'موبایل وارد شده معتبر نیست' }]
                };

                $scope.fieldValidate = function (key) {
                    generalValidationItem(key);
                    return $scope.validation[key] != -1;
                };

                var generalValidationItem = function (key) {

                    var validationList = validationStruct[key];
                    $scope.validation[key] = 0;
                    $scope.error[key] = null;

                    if (key == 'username') {
                        $scope.validation.username = lastUsernameOnlinValidation;
                        if (lastUsernameOnlinValidation == -1)
                            $scope.error.username = lastUsernameOnlinValidationError;
                    }


                    _.each(validationList, function (item) {

                        if (item.type == 'require' && item.dataType == 'string') {
                            if (!$scope.model[key] || !$scope.model[key].length) {
                                $scope.validation[key] = -1;
                                $scope.error[key] = item.error;
                                return false; //break!
                            }

                        }

                        if (item.type == 'require' && item.dataType == 'number') {
                            if (!$scope.model[key] || $scope.model[key]<=0) {
                                $scope.validation[key] = -1;
                                $scope.error[key] = item.error;
                                return false; //break!
                            }
                        }


                        if (item.type == 'passwordRepeat' ) {
                            if ($scope.model.password !== $scope.model.passwordRepeat) {
                                $scope.error.passwordRepeat = item.error;
                                $scope.validation.passwordRepeat = -1;
                                return false; //break!
                            }
                        }

                        if (item.type == 'passwordPolicy' ) {
                            if ($scope.model.password.length < 8) {
                                $scope.error.password = item.errorLen;
                                $scope.validation.password = -1;
                                return false; //break!
                            }
                            if (!$scope.model.password.match(/.*[A-Z].*/)) {
                                $scope.error.password = item.errorUppercase;
                                $scope.validation.password = -1;
                                return false; //break!
                            }
                            if (!$scope.model.password.match(/.*[a-z].*/)) {
                                $scope.error.password = item.errorLowercase;
                                $scope.validation.password = -1;
                                return false; //break!
                            }
                            if (!$scope.model.password.match(/.*[@@!%\$\^#&].*/)) {
                                $scope.error.password = item.errorNoChar;
                                $scope.validation.password = -1;
                                return false; //break!
                            }
                            if ($scope.model.password.match(/.*[\|\/\:\*\?><].*/)) {
                                $scope.error.password = item.errorInvaliChar;
                                $scope.validation.password = -1;
                                return false; //break!
                            }

                        }

                        if (item.type == 'email' ) {
                            if ($scope.model.email && $scope.model.email.length) {
                                $scope.validation.email = validateEmail($scope.model.email) ? 1 : -1;
                                if ($scope.validation.email == -1) {
                                    $scope.error.email = item.error;
                                    return false; //break!
                                }
                            }
                        }

                        if (item.type == 'mobile' ) {
                            if ($scope.model.mobile && $scope.model.mobile.length) {
                                $scope.validation.mobile = validateMobile($scope.model.mobile)?1:-1;
                                if ($scope.validation.mobile==-1) {
                                    $scope.error.mobile = item.error;
                                    return false; //break!
                                }
                            }
                        }

                    });

                }

                function validateAllField() {
                }
            }]);

        </script>

    }




</div>

<script>
    localStorage.removeItem('userVariable');

    window.addEventListener('message', function (e) {
        if (!_.isString(e.data)) return;

        var message = JSON.parse(e.data);
        window.location.href = message.param
    });

</script>