@{
    Layout = "~/Views/Shared/_LayoutLogin-v2.cshtml";
    ViewBag.Title = ViewBag.msg["signup"];
}

<div class="ui container ">
    <style>
        [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak, .ng-hide {
            display: none !important;
        }

        .form-signin {
            max-width: 970px;
            margin-top: 80px;
        }

        .same-height {
            margin-bottom: -99999px;
            padding-bottom: 99999px;
        }

        .hide-overflow {
            overflow: hidden;
        }

        .card {
            padding: 40px;
            background-color: #fff;
            border-radius: 6px;
        }

        .logo {
            max-width: 55%;
            height: auto;
            margin: 0 auto;
            margin-bottom: 16px;
            display: block;
        }

        .sadaf-desc {
            font-size: 13px;
            text-align: justify;
            margin-bottom: 30px;
        }

        body {
            margin: 0;
            padding-top: 0px;
            padding-bottom: 40px;
            background-color: #eee;
            overflow: auto;
        }

        .inline-h1 {
            display: inline;
            font-size: inherit;
            font-family: Droid !important;
        }

        #activationModal .content li {
            margin: 7px 0;
        }

        .form-signin {
            transition: all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
        }

        .field-info {
            font-weight: 200;
            font-size: 0.8em;
            color: gray;
        }

        .field.error .field-info {
            color: #9f3a38;
        }

        .form-signin .field input {
            line-height: 1.7em !important;
            padding: 8px 16px !important;
        }

        .form-signin input[type=number]::-webkit-inner-spin-button,
        .form-signin input[type=number]::-webkit-outer-spin-button {
            -webkit-appearance: none !important;
            -moz-appearance: none !important;
            opacity: 0;
            margin: 0;
        }
    </style>



    <div class="xform-signin tw-max-w-md  tw-m-auto " ng-app="signup" ng-controller="cntl">
        <div class="card">
            <div style="">

                <div class="ui big form"> 

                    <div ng-show="step==1" class="field" ng-class="{error: validation.username==-1}">
                        <label ng-click="login()">@ViewBag.msg["national code"] (نام کاربری)</label>
                        <div class="ui icon input" ng-class="{loading: checkUsernameProgress}">
                            <input autocomplete="off" ng-model-options="{ allowInvalid: true, debounce: 500 }" ng-change="checkUsername()" ng-model="model.username" type="text" class="ui fuild input" />
                            <i class="user icon" ng-class="{'link green check' : validation.username==1, 'user' : validation.username!=1}"></i>
                        </div>
                        <div class="field-info" ng-show="error.username.length">{{error.username}}</div>
                        <div class="field-info" ng-show="!model.username.length">کد ملی ۱۰ رقمی</div>
                    </div>

                    <div ng-show="step==1" class="field" ng-class="{error: validation.name==-1}">
                        <label>@ViewBag.msg["name"]</label>
                        <div class="ui icon input">
                            <input ng-model="model.name" ng-blur="fieldValidate('name')" type="text" autocomplete="off" class="ui fuild input" />
                            <i class="address book outline icon"></i>
                        </div>
                        <div class="field-info" ng-show="error.name.length">{{error.name}}</div>
                    </div>

                    <div ng-show="step==1" class="field" ng-class="{error: validation.family==-1}">
                        <label>@ViewBag.msg["family"]</label>
                        <div class="ui icon input">
                            <input ng-model="model.family" ng-blur="fieldValidate('family')" type="text" autocomplete="off" class="ui fuild input" />
                            <i class="address book outline icon"></i>
                        </div>
                        <div class="field-info" ng-show="error.family.length">{{error.family}}</div>
                    </div>

                    <div ng-show="step==1" class="field" ng-class="{error: validation.email==-1}">
                        <label>@ViewBag.msg["email"]</label>
                        <div class="ui icon input">
                            <input name="email" ng-model="model.email" ng-blur="fieldValidate('email')" type="text" autocomplete="off" class="ui fuild input" />
                            <i class="mail icon" xng-class="{'green link check' : validation.email==1, 'mail':  validation.email==1}"></i>
                        </div>
                        <div class="field-info">{{error.email}}</div>
                    </div>

                    <div ng-show="step==1" class="field" ng-class="{error: validation.password==-1}">
                        <label>@ViewBag.msg["password"]</label>
                        <div class="ui icon input">
                            <input autocomplete="off" class="ltr" ng-model="model.password" ng-blur="fieldValidate('password')" type="{{showPass ? 'text':'password'}}" class="ui fuild input" />
                            <i class="lock icon"></i>
                        </div>
                        <div class="field-info">حداقل ۸ کاراکتر شامل حروف بزرگ و کوچک انگلیسی و علامت</div>
                        <div class="field-info">{{error.password}}</div>
                        <label class="" style="font-weight:200; margin:10px 0; font-size:0.8em">
                            <input type="checkbox" ng-model="showPass">
                            @ViewBag.msg["show password"]
                        </label>
                    </div>

                    <div ng-show="step==1" class="field" ng-class="{error: validation.passwordRepeat==-1}">
                        <label>@ViewBag.msg["password repeat"]</label>
                        <div class="ui icon input">
                            <input ng-model="model.passwordRepeat" class="ltr" ng-blur="fieldValidate('passwordRepeat')" type="{{showPass ? 'text':'password'}}" autocomplete="off" class="ui fuild input" />
                            <i class="lock icon"></i>
                        </div>
                        <small class="field-info">{{error.passwordRepeat}}</small>
                    </div>

                    <div ng-show="step==2" class="field" ng-class="{error: validation.mobile==-1}">
                        <label>@ViewBag.msg["mobile"]</label>
                        <div class="ui icon input">
                            <input ng-model="model.mobile" ng-blur="fieldValidate('mobile')" style="direction:ltr;text-align:left;padding-left: 70px !important;" type="text" autocomplete="off" class="ui fuild input" />
                            <div style="position: absolute;left: 45px !important;top: 9px;font-weight:800">۰۹</div>
                            <i class="phone icon" xng-class="{'green link check' : validation.mobile==1, 'phone':  validation.email==1}"></i>
                        </div>
                        <small class="field-info">{{error.mobile}}</small>
                    </div>


                    <div ng-show="step==2" class="field" ng-class="{error : error.captcha.length}">
                        <div style="text-align:center;">
                            <div style="float:right;">
                                <img ng-src="data:image/jpeg;base64,{{captchaPic}}" />
                            </div>
                            <div class="ui button basic icon" ng-click="reCaptcha()" style="float:left; margin:0;"><i class="ui icon refresh"></i></div>
                        </div>
                        <div class="ui icon input">
                            <input ng-model="model.captcha" type="text" class="ui fuild input" />
                            <i class="chess board icon"></i>
                        </div>
                        <small class="field-info">{{error.captcha}}</small>
                    </div>

                    <div ng-show="step==3" class="field" ng-class="{error: validation.activationCode==-1}">
                        <label>@ViewBag.msg["activation code"]</label>
                        <div class="ui icon input">
                            <input ng-model="model.activationCode" type="text" autocomplete="off" class="ui fuild input" />
                            <i class="barcode icon"></i>
                        </div>
                        <div class="field-info">{{error.activationCode}}</div>
                        <div class="field-info">زمان باقیمانده {{persian(timer)}} ثانیه </div>
                    </div>

                    <div class="ui message red" ng-if="error.general && error.general.length">
                        {{error.general}}
                    </div>

                    <button ng-show="step==1" class="ui blue fluid button big submit" ng-class="{loading: loading, disabled: loading }" ng-click="submit()" type="submit" style="margin-top:35px;">
                        مرحله بعد
                    </button>

                    <button ng-show="step==2" class="ui blue fluid button big submit" ng-class="{loading: smsloading, disabled: smsloading }" ng-click="sendPhoneCode()" type="submit" style="margin-top:35px;">
                        ارسال کد فعال‌سازی
                    </button>

                    @*<button ng-show="step==3" class="ui blue fluid basic button big submit" ng-class="{loading: smsloading, disabled: smsloading }" ng-click="sendSmsAgain()" type="submit" style="margin-top:35px;">
                    ارسال مجدد کد فعال‌سازی
                </button>*@

                    <button ng-show=" step==3" class="ui green fluid button big submit" ng-class="{loading: loading, disabled: loading }" ng-click="submit()" type="submit" style="margin-top:35px;">
                        فعال‌سازی و ثبت نام
                    </button>
                    <button ng-show="step != 1" class="ui basic fluid button big submit" ng-click="stepBack()" type="submit" style="margin-top:35px;">
                        مرحله قبل
                    </button>

                    <div class="ui red message" ng-show="error.submit.length">
                        {{error.submit}}
                    </div>
                    <button ng-show="error.submit.length" class="ui green fluid basic button big submit" ng-click="resetForm()">
                        انجام دوباره عملیات
                    </button>

                </div>
            </div>
            <div class="ui modal info-modal">
                <div class="header">پیام</div>
                <div class="content">حساب کاربری شما با موفقیت ساخته شد</div>
                <div class="actions">
                    <div class="ui green button" ng-click="login()" onclick="window.location = '/'">ورود</div>
                </div>
            </div>
            @if (ViewBag.error != null) {
                <div class="ui negative message">
                    @Html.Raw(ViewBag.error)
                </div>
            }

        </div>
    </div>






</div>

