
@{
    Layout = null;
    var isRelease = Boolean.Parse(System.Configuration.ConfigurationManager.AppSettings["releaseMode"] ?? "true");
    var v = typeof(BLL.ApplicationLicense.License).Assembly.GetName().Version.ToString();
    var version = typeof(BLL.ApplicationLicense.License).Assembly.GetName().Version;
    if (!isRelease) {
        v = (DateTime.Now - DateTime.MinValue).TotalMilliseconds.ToString();
    }
    var title = new EDMs.DashboardAppDataEntities().tbl_Forms.Find(ViewBag.id).Name;
}


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/dist/css/dash-all@(ViewBag.isRtl ? "-rtl" : "").css?v=@v" rel="stylesheet" />
    <title>@title</title>
    <style>
        html {
        background-color:#ffffff !important;
        }
    </style>
</head>
<body style="overflow:auto !important; height:initial;">

    <div class="ui container" ng-app="singleForm" ng-controller="singleFormCtl" style="margin-top:40px;">
        <div class="">
            <h3 class="ui header">@title</h3>
            <hr />
        </div>
        <div sadaf-form id="@ViewBag.id"></div>
    </div>


    <script src="~/dist/js/lib-all.js?v=@v"></script>
    @if (!Boolean.Parse(System.Configuration.ConfigurationManager.AppSettings["releaseMode"] ?? "true")) {

        <script src="~/src/js/charts/su.ChartCommons.js?v=@v"></script>
        <script src="~/src/js/charts/su.d3-utils.js?v=@v"></script>
        <script src="~/src/js/charts/su.filterMemberDialog.js?v=@v"></script>
        <script src="~/src/js/charts/su.jquery.sit.BarChart.js?v=@v"></script>
        <script src="~/src/js/charts/jquery.sit.Chart.js?v=@v"></script>
        <script src="~/src/js/charts/su.jquery.sit.Gauge.js?v=@v"></script>
        <script src="~/src/js/charts/jquery.sit.Map.js?v=@v"></script>
        <script src="~/src/js/charts/jquery.sit.PieChart.js?v=@v"></script>
        <script src="~/src/js/charts/jquery.sit.Radar.js?v=@v"></script>
        <script src="~/src/js/charts/su.jquery.sit.Table.js?v=@v"></script>
        <script src="~/src/js/charts/su.jquery.sit.Tree.js?v=@v"></script>
        <script src="~/src/js/charts/jquery.sit.Text.js?v=@v"></script>
        <script src="~/src/js/charts/su.jquery.sit.UserControl.js?v=@v"></script>
        <script src="~/src/js/charts/tipsy.js?v=@v"></script>


        <script src="~/src/js/management/services/services-app.js?v=@v"></script>
        <script src="~/src/js/management/services/datasources.js?v=@v"></script>
        <script src="~/src/js/forms/forms-app.js?v=@v"></script>
        <script src="~/src/js/forms/editor/form-generator-editor.js?v=@v"></script>
        <script src="~/src/js/forms/render-form.js?v=@v"></script>
        <script src="~/src/js/dashboardPage/navbar/navbar.js?v=@v"></script>
        <script src="~/src/js/collapse.js?v=@v"></script>
        <script src="~/src/js/dashboard-app.js?v=@v"></script>
        <script src="~/src/js/heartBeat.js?v=@v"></script>
        <script src="~/src/js/dashboardPage/filterBox.js?v=@v"></script>
        <script src="~/src/js/dashboardPage/su.DashboardPageUtils.js?v=@v"></script>
        <script src="~/src/js/dashboardPage/su.dashboardLayout.js?v=@v"></script>
        <script src="~/src/js/dashboardPage/su.dashboardPage.js?v=@v"></script>
        <script src="~/src/js/dashboardPage/su.app.js?v=@v"></script>
        <script src="~/src/js/dashboardPage/bootstrap.sit.helper.js?v=@v"></script>
        <script src="~/src/js/dashboardPage/globalVariableHelper.js?v=@v"></script>
        <script src="~/src/js/dashboardPage/su.packages.js?v=@v"></script>
        <script src="~/src/js/dashboardPage/JqueryHelper.js?v=@v"></script>

    } else {
        <script src="~/dist/js/dashboard-all.js?v=@v"></script>
    }

    <script>

        var ngApp = angular.module('singleForm', ['sadafForms', 'ngRoute', 'navbarCat', 'ui.sortable', 'pascalprecht.translate', 'ngSanitize', 'uibCollapseCat']);
        ngApp.controller('singleFormCtl', ['$scope', 'iframeService', '$location', function ($scope, iframeService, $location) {
            $scope.iframeService = iframeService;
        }]);

        var app = app || {};
        app.urlPrefix = "@Url.Action("Index", "Charts", new { area = "Moderation" })".replace(/Moderation.*/g, "");
        app.aboluteUrl = "@Request.Url.AbsoluteUri";
        app.version = "@v";
        app.setUrlPrefix("@Url.Action("Index", "Charts", new { area = "Moderation" })");
        app.setAboluteUrl("@Request.Url.AbsoluteUri");

        var hash = "@ViewBag.returnUrlHash";
        if (hash) {
            location.hash = hash;
        }
        app.lang.setLangTyle(@ViewBag.lang);
        app.lang.setLang();
        app.version = '@(Boolean.Parse(System.Configuration.ConfigurationManager.AppSettings["releaseMode"] ?? "true")
            ? (DateTime.Now - DateTime.MinValue).TotalMilliseconds.ToString() : v.ToString())';


        var $el = $('[ng-controller=singleFormCtl]');
        window.addEventListener('message', function (e) {
            if (!_.isString(e.data)) return;
            var message = JSON.parse(e.data);

            if (message.type === 'route') {

                var scope = angular.element($el).scope();
                scope.iframeService.setPath(message.param);
                scope.$apply();
            }
        });
        ngApp.config(['$routeProvider', '$locationProvider',
      function ($routeProvider, $locationProvider) {
          $routeProvider.

              otherwise({
                  redirectTo: ''
              });
      }]);

    </script>
    @*Clickjacking Defense*@
    <style id="antiClickjack">
        body {
            display: none !important;
        }
    </style>

    <script type="text/javascript">
        if (self === top) {
            var antiClickjack = document.getElementById("antiClickjack");
            antiClickjack.parentNode.removeChild(antiClickjack);
        } else {
            top.location = self.location;
        }
    </script>

</body>
</html>
