@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <base href="@Href("~")">
    <title>@ViewBag.Title</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    @{
        var isRelease = Boolean.Parse(System.Configuration.ConfigurationManager.AppSettings["releaseMode"] ?? "true");
        var ver = typeof(BLL.ApplicationLicense.License).Assembly.GetName().Version.ToString();
        var version = typeof(BLL.ApplicationLicense.License).Assembly.GetName().Version;
        if (!isRelease) {
            ver = (DateTime.Now - DateTime.MinValue).TotalMilliseconds.ToString();
        }

    }

    <link href="~/dist/lib/semantic@(ViewBag.isRtl ? "-rtl" : "").min.css?v=2.2" rel="stylesheet" />
    <link href="~/dist/css/chart@(ViewBag.isRtl ? "-rtl" : "").css?v=@ver" rel="stylesheet" />
    <link href="~/dist/css/dashboard/mian-dash@(ViewBag.isRtl ? "-rtl" : "").css?v=@ver" rel="stylesheet" />

    <script src="~/dist/lib/jquery-1.11.1.min.js"></script>
    <script src="~/dist/lib/jquery-ui-1.10.4.custom.min.js"></script>
    <script src="~/dist/lib/jquery.fileupload.min.js"></script>
    <script src="~/dist/lib/jquery.gridster.with-extras.min.js"></script>
    <script src="~/dist/lib/jquery.gridster.with-extras.min2.js"></script>
    <script src="~/dist/lib/jquery.ui.widget.min.js"></script>
    <script src="~/dist/lib/angular@(isRelease ? ".min" : "").js"></script>
    <script src="~/dist/lib/angular-messages.min.js"></script>
    <script src="~/dist/lib/angular-sanitize.min.js"></script>
    <script src="~/dist/lib/angular-translate.min.js"></script>
    <script src="~/dist/lib/angular-translate-loader-static-files.min.js"></script>
    <script src="~/dist/lib/angular-animate.min.js"></script>
    <script src="~/dist/lib/angular-route.min.js"></script>
    <script src="~/dist/lib/bootstrap-datepicker.fa.min.js"></script>
    <script src="~/dist/lib/bootstrap-datepicker.min.js"></script>
    <script src="~/dist/lib/bootstrap-select.min.js"></script>
    <script src="~/dist/lib/bootstrap-select-defaults-@(ViewBag.isRtl ? "fa_IR" : "en_US").js"></script>
    <script src="~/dist/lib/semantic.min.js"></script>
    <script src="~/dist/lib/d3.v3.min.js"></script>
    <script src="~/dist/lib/sortable.min.js"></script>
    <script src="~/dist/lib/topojson.min.js"></script>
    <script src="~/dist/lib/lodash.min.js"></script>
    <script src="~/dist/lib/jquery.treeview.js"></script>

    <style>
        [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak, .ng-hide {
            display: none !important;
        }
    </style>

    <meta name="fontiran.com:license" content="X4ZQZ">
</head>
<body ng-app="sadaf" ng-cloak ng-controller="dashboardPageCtrl" class="theme2">
    <style>
    </style>
    <input type="hidden" value="@ViewBag.lang" id="lang" />
    <input type="hidden" id="isFullscreen" value="@ViewBag.UserProfile.IsFullScreen" />


    <div class="side-menu ui segment my-fix inverted no-padd no-margin">

        <div class="" style="text-align:center; padding:30px 16px;">
            <img src="~/Images/icon-inverse.png" class="" style="max-width:100%" alt="Alternate Text" />
        </div>

        <div class="my-fix-flex-container" ui-sortable="sortableCatOptions" xng-model="menuCategories.data">
            <div class="side-menu-item-container menu-category" ng-repeat="mc in menuCategories.data" ng-class="{active: mc.active}" on-finish-render="ngRepeatFinished" data-id="{{mc.category.Id}}">
                <div class="side-menu-item side-menu-item-parent" ng-click="closeAll(mc, true);" ng-dblclick="closeAll(mc, false);">
                    <i class="icon angle down icon-animate large left floated" ng-class="{rotate: mc.open}"></i>  {{mc.category.Name}}
                    <div class="ui mini dropdown icon circular left floated " ng-click="$event.stopPropagation();" ng-if="mc.hasAddPer || mc.hasEditPer || mc.hasDeletePer" style="line-height:1.5em">
                        <i class="setting icon"></i>
                        <div class="menu transition hidden" tabindex="-1">
                            <div class="item" ng-show="mc.hasAddPer" ng-click="addMenuToCategory(mc);$event.stopPropagation();"><i class="add circle icon"></i>{{'اضافه کردن صفحه جدید' | translate}}</div>
                            <div class="item" ng-show="mc.hasEditPer" ng-click="editCategory(mc);$event.stopPropagation();"><i class="edit icon"></i>{{'تغییر نام' | translate}}</div>
                            <div class="item" ng-show="mc.hasDeletePer" ng-click="deleteCategory(mc, $index);$event.stopPropagation();"><i class="trash outline icon"></i>{{'حذف' | translate}}</div>
                        </div>
                    </div>
                </div>

                <div class="connected-sortable" uib-collapse="!mc.open" xng-model="mc.menus" ui-sortable="sortableOptions" ng-style="{ 'min-height': !mc.menus.length ? '10px' : 'auto' }">
                    <div class="side-menu-item side-menu-item-child dashboard-menu" ng-repeat="m in mc.menus" href="#dashboard/{{m.menu.Id}}" data-id="{{m.menu.Id}}" on-finish-render="ngRepeatFinished" ng-class="{active: m.active}" ng-click="$event.stopPropagation();">

                        <a href="#/dashboard/{{m.menu.Id}}" ng-click="closeSidebar(); cancelRequests();">
                            <div class="ui mini dropdown icon circular left floated " ng-click="$event.stopPropagation();" ng-if="m.hasEditPer || m.hasDeletePer" style="line-height: 1.5em;">
                                <i class="setting icon"></i>
                                <div class="menu transition hidden" tabindex="-1">
                                    <div class="item" ng-show="m.hasEditPer" ng-click="editMenu(m);$event.stopPropagation();"><i class="edit icon"></i>{{'تغییر نام' | translate}}</div>
                                    <div class="item" ng-show="m.hasDeletePer" ng-click="deleteMenu(m, mc, $index);$event.stopPropagation();"><i class="trash outline icon"></i>{{'حذف' | translate}}</div>
                                    <div class="item" ng-show="m.hasEditPer" ng-click="duplicateMenu(m, mc);$event.stopPropagation();"><i class="copy icon"></i>{{'تکرار' | translate}}</div>
                                </div>
                            </div>
                            {{m.menu.Name}}
                        </a>
                    </div>
                </div>
            </div>


            <div class="reorder-menus-container" style="padding:20px 7px; font-size:11px; cursor:pointer" ng-show="menuCategories.hasAddPer">
                <i class="icon sort icon-animate reorder-menus"
                   ng-click="toggleEdit()"
                   ng-show="reorderPermission"
                   style=""></i>
                <div class="btn btn-link" ng-click="addCat()">
                    <i class="icon add circle"></i>
                    {{'add new group' | translate}}

                </div>

            </div>

        </div>

        <div class="sadaf-footer">
            <a href="@(!BLL.ApplicationLicense.ClientLicenseManager.GetInstance().HideCopyrightTemorary?"http://www.sadafdashboard.ir":"#")" target="_blank">{{'copyright' | translate}}</a>
            - نسخه @(version.Major + "." + version.Minor + "." + version.Build )
        </div>
    </div>

    <div class="pusher" id="">
        <div class="main-container">
            <div class="" style="display:flex;flex-direction:row;padding:10px 0 0 10px;flex-wrap: wrap-reverse;justify-content: flex-end;">

                <div ng-show="menuCategories.licenceRemain.remain <= 15" class="ui label red">تعداد روز باقیمانده از جواز استفاده: 
                <b style="text-decoration:underline;">{{persian(menuCategories.licenceRemain.remain, isPersian)}}</b> روز</div>

                <div class="" id="filter-box" ng-app="filterBox" style="transition:width 0.4s ease; flex:1 1 auto;">
                    <div ng-controller="filterBoxController" id="filter-box-controller">

                        <div ng-if="otherFilters.length + userControlFilter.length >1"
                             class="ui label"
                             title="{{'clear'| translate}}">
                            <a ng-click="clearAll()" class="pointer"><b>{{'clear all'| translate}}</b></a>
                        </div>


                        <div ng-repeat="j in otherFilters | filter:{value:''}"
                             class="ui label"
                             title="{{j.value}}">
                            <b>{{j.key}}: </b>{{j.value}}
                            <i class="delete icon" ng-click="removeDrillDown($index)"></i>

                        </div>



                        <div ng-repeat="i in userControlFilter "
                             ng-if="i.values && i.values.length"
                             class="ui label"
                             title="{{i.values.join(', ')}}">
                            <b>{{i.key}}: </b>{{i.xCaption}} <span ng-bind-html="i.Caption"></span>
                            <i class="delete icon" ng-click="removeUserControl($index)"></i>
                        </div>
                    </div>

                </div>

                <div class="dashboard-edit-panel" xng-class="{'show': hasEditPermission}" style="margin:-5px 14px 0 14px;">
                    <div class="chart-container dashboard-page-header" style="direction:ltr;">
                        <div style="display:table-row">
                            <div id="device-selector" class="dashboard-navbar-item devices no-padd">
                                <i id="laptop" class="icon laptop"></i>
                                <i id="tablet" class="icon tablet"></i>
                                <i id="smartphone" class="icon mobile" style="transform: rotate(-90deg); transform-origin: 55% 65%;"></i>
                                <i id="smartphone-land" class="icon mobile"></i>
                            </div>

                            <div class="dashboard-navbar-item-devider dashboard-navbar-item no-padd"></div>

                            <div class="dashboard-navbar-item no-padd">
                                <div class="ui left input icon mini" style="max-width:75px">
                                    <input id="dashboard-col" type="number" value="12" />
                                    <i class="icon columns"></i>
                                </div>
                            </div>

                            <div class="dashboard-navbar-item dashboard-navbar-item-devider no-padd"></div>

                            <div class="dashboard-navbar-item no-padd">
                                <i class="link icon add square add-chart-btn"></i>
                            </div>

                        </div>

                    </div>

                </div>

                <div class="" style="margin:0 10px;">
                    <i class="large icon link full-screen-toggle" ng-class="{expand : !isFullscreen, compress: isFullscreen }" ng-click="fullscreenToggle()" title="full screen"></i>
                </div>

                <div class="ui dropdown">
                    <div style="white-space:nowrap">
                        <span class="user-account-hide-segment">
                            @{
                                var user = BLL.Security.Users.getUserByUsername(User.Identity.Name);
                            <text> @user.FirstName @user.LastName</text>
                            }
                        </span>
                        <i class="icon user large circle"></i>
                    </div>
                    <div class="menu transition hidden" tabindex="-1">
                        <a ng-if="menuCategories.hasAminPermission" class="item user-account-hide-segment" href="~/sadaf/management/"><i class="icon setting"></i> {{'mainmenu_management' | translate}} </a>
                        <a class="item user-account-hide-segment" href="~/profile"><i class="icon user"></i> {{'profile' | translate}} </a>
                        <a class="item" href="~/account/logoff"><i class="icon sign out"></i>{{'signout' | translate}}</a>
                    </div>
                </div>
                <div class="">
                    <i class="large icon sidebar link toc-toggle"></i>
                </div>

            </div>

            <ng-view></ng-view>

        </div>


    </div>


    @if (!Boolean.Parse(System.Configuration.ConfigurationManager.AppSettings["releaseMode"] ?? "true")) {
        <script src="~/src/js/charts/su.ChartCommons.js?v=@ver"></script>
        <script src="~/src/js/charts/su.d3-utils.js?v=@ver"></script>
        <script src="~/src/js/charts/su.filterMemberDialog.js?v=@ver"></script>
        <script src="~/src/js/charts/su.jquery.sit.BarChart.js?v=@ver"></script>
        <script src="~/src/js/charts/jquery.sit.Chart.js?v=@ver"></script>
        <script src="~/src/js/charts/su.jquery.sit.Gauge.js?v=@ver"></script>
        <script src="~/src/js/charts/jquery.sit.Map.js?v=@ver"></script>
        <script src="~/src/js/charts/jquery.sit.PieChart.js?v=@ver"></script>
        <script src="~/src/js/charts/jquery.sit.Radar.js?v=@ver"></script>
        <script src="~/src/js/charts/su.jquery.sit.Table.js?v=@ver"></script>
        <script src="~/src/js/charts/su.jquery.sit.Tree.js?v=@ver"></script>
        <script src="~/src/js/charts/jquery.sit.Text.js?v=@ver"></script>
        <script src="~/src/js/charts/su.jquery.sit.UserControl.js?v=@ver"></script>
        <script src="~/src/js/charts/tipsy.js?v=@ver"></script>

    } else {
        <script src="~/dist/js/charts-theme2.js?v=@ver"></script>
    }

    <script>



        $('.ui.modal').modal();
        $('.ui.dropdown').dropdown();

    </script>

    <div class="ui modal small" id="edit-menus">
        <i class="close icon"></i>
        <div class="header">
            ویرایش صفحه‌های داشبوردی
        </div>
        <div class="content">
            <p ng-show="modal.body" ng-bind-html="modal.body"></p>


            <div class="ui form">
                <div class="field" ng-show="modal.label">
                    <label>{{modal.label}}</label>
                    <input ng-model="modal.val" type="text" class="" placeholder="">
                </div>
            </div>
            <div class="alert alert-danger" ng-show="modal.error">
                <div ng-show="modal.error.title">
                    <b>{{modal.error.title}}</b>
                    <p>{{modal.error.desc}}</p>
                </div>
                <div ng-hide="modal.error.title" ng-bind-html="modal.error">
                </div>
            </div>

        </div>
        <div class="actions">
            <div class="ui button black" ng-click="hideModal()">{{'انصراف' | translate}}</div>
            <div class="ui button {{modal.btnClass}}" ng-class="{disabled: modal.inProgress, loading : modal.inProgress}" ng-click="modal.ok()">{{modal.btnText}}</div>
        </div>
    </div>

    <div class="ui modal small" id="filter-member-dialog">
        <i class="close icon"></i>
        <div class="header">
            فیلتر کردن مقادیر
        </div>
        <div class="content">
            <div id="filter-member-dialog-content">
                <div class="ui active inverted dimmer">
                    <div class="ui text loader">در حال بارگذاری</div>
                </div>
            </div>

        </div>
        <div class="actions">
            <div class="ui button black">{{'انصراف' | translate}}</div>
            <div class="ui button green" onclick="app.helper.filterMemberDialogOk()">انتخاب</div>
        </div>
    </div>

    <div class="ui modal small" id="deleteChart">
        <i class="close icon"></i>
        <div class="header">
            حذف نمودار
        </div>
        <div class="content">
            <div class="ui header">آیا برای حذف این نمودار مطمئنید؟ </div>
            در صورت انتخاب گزینه حذف، این نمودار فقط از این صفحه حدف خواهد شد. در صورتی که می‌خواهید نمودار را کلا حذف کنید، در قسمت مدیریت از منوی مدیریت نمودارها استفاده کنید.
            <br />
            <br />
            <br />


            <div class="ui toggle checkbox">
                <input type="checkbox" id="delete-from-dash" checked="checked">
                <label>حذف از کل داشبورد</label>
            </div>

        </div>
        <div class="actions">
            <div class="ui button deny black">{{'انصراف' | translate}}</div>
            <div class="ui button red action-btn" onclick="dashboard.deleteChart()">{{'حذف'|translate}}</div>
        </div>
    </div>

    @if (!Boolean.Parse(System.Configuration.ConfigurationManager.AppSettings["releaseMode"] ?? "true")) {
        <script src="~/src/js/dashboardPage/navbar/navbar.js?v=@ver"></script>
        <script src="~/src/js/collapse.js?v=@ver"></script>
        <script src="~/src/js/dashboard-app.js?v=@ver"></script>
        <script src="~/src/js/heartBeat.js?v=@ver"></script>
        <script src="~/src/js/dashboardPage/filterBox.js?v=@ver"></script>
        <script src="~/src/js/dashboardPage/su.DashboardPageUtils.js?v=@ver"></script>
        <script src="~/src/js/dashboardPage/su.dashboardLayout.js?v=@ver"></script>
        <script src="~/src/js/dashboardPage/su.dashboardPage.js?v=@ver"></script>
        <script src="~/src/js/dashboardPage/su.app.js?v=@ver"></script>
        <script src="~/src/js/dashboardPage/bootstrap.sit.helper.js?v=@ver"></script>
        <script src="~/src/js/dashboardPage/globalVariableHelper.js?v=@ver"></script>
        <script src="~/src/js/dashboardPage/su.packages.js?v=@ver"></script>
        <script src="~/src/js/dashboardPage/JqueryHelper.js?v=@ver"></script>

    } else {
        <script src="~/dist/js/dashboard-app-theme2.js?v=@ver"></script>
    }

    <script>
        var userVariable = @Html.Raw(Json.Encode(ViewBag.userVariable));
        if(_.isArray(userVariable)){
            localStorage.setItem('userVariable',JSON.stringify( userVariable));
        }

        localStorage.setItem('defaultDashboard','@ViewBag.defaultDashboard');
        $('.ui.checkbox').checkbox();
        $('.ui.modal').modal();

        var dontShowUserAccount = JSON.parse("@((ViewBag.isLoginByLink ??false ).ToString().ToLower())");
        if(dontShowUserAccount){
            $('.user-account-hide-segment').hide();
        }
        var app = app || {};
        app.urlPrefix = "@Url.Action("Index", "Charts", new { area = "Moderation" })".replace(/Moderation.*/g, "");
        app.aboluteUrl = "@Request.Url.AbsoluteUri";
        app.version = "@ver";
        app.setUrlPrefix("@Url.Action("Index", "Charts", new { area = "Moderation" })");
        app.setAboluteUrl("@Request.Url.AbsoluteUri");


        var hash = "@ViewBag.returnUrlHash";
        if (hash) {
            location.hash = hash;
        }
        app.lang.setLangTyle(@ViewBag.lang);
        app.lang.setLang();
        app.version = '@(Boolean.Parse(System.Configuration.ConfigurationManager.AppSettings["releaseMode"] ?? "true")
            ? (DateTime.Now - DateTime.MinValue).TotalMilliseconds.ToString() : ver.ToString())';



    </script>
</body>




</html>
