@{
    Layout = null;
}
<!DOCTYPE html>
<html @(ViewBag.isRtl ? "dir=rtl" : "")>
<head>
    <meta charset="utf-8" />
    <base href="@Href("~")">
    <title> @ViewBag.Title</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="fontiran.com:license" content="X4ZQZ">
    @{
        var v = typeof(BLL.ApplicationLicense.License).Assembly.GetName().Version.ToString();

        var rMode = Boolean.Parse(System.Configuration.ConfigurationManager.AppSettings["releaseMode"] ?? "true");
        if (!rMode) {
            v = (DateTime.Now - DateTime.MinValue).TotalMilliseconds.ToString();
        }
        var useApp = BLL.Process.CommonUtils.AppSettings.useApp();
    }


    <script>
            @*var app = app || {};
        app.urlPrefix = "@Url.Action("Index", "Charts", new { area = "Moderation" })".replace(/Moderation.*/g, "");
        app.urlPrefix = "@Url.Action("management", "sadaf")".replace(/sadaf\/management.*/g, "");
        app.aboluteUrl = "@Request.Url.AbsoluteUri";
        app.hashUrlPrefix = "@Url.Action("management", "sadaf")" + "/";
        app.version = "@v";*@

    </script>

    @*<link href="~/dist/css/admin-all@(ViewBag.isRtl ? "-rtl" : "").css?v=@v" rel="stylesheet" />
        <link href="~/dist/css/dash-all@(ViewBag.isRtl ? "-rtl" : "").css?v=@v" rel="stylesheet" />*@

    @if (ViewBag.cdn.enable) {
        for (int i = 0; i < ViewBag.cdn.items.Count; i++) {
            if (ViewBag.cdn.items[i].type == 1) {
                <script src="@ViewBag.cdn.items[i].link"></script>
            }
            if (ViewBag.cdn.items[i].type == 0) {
                <link href="@ViewBag.cdn.items[i].link" rel="stylesheet" />
            }
        }
    }

    <script>
    </script>

    <style>
        [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak, .ng-hide {
            display: none !important;
        }
    </style>
</head>


<body layout="row" layout-fill @(ViewBag.isRtl ? @"dir=rtl" : "") class="management">
    <input type="hidden" value="@System.Text.RegularExpressions.Regex.Replace( Url.Action("management", "sadaf").ToString().ToLower(), "sadaf/management.*", "")" name="baseUrl" />
    <input type="hidden" value="@Request.Url.AbsoluteUri" name="aboluteUrl" />
    <input type="hidden" value="@v" name="version" />
    <input type="hidden" value="@(Url.Action("management", "sadaf") + "/")" name="hashUrlPrefix" />
    <input type="hidden" value="@(Html.Raw(ViewBag.license).ToString().Replace("\"","\\\""))" name="license" />
    <input type="hidden" value="@ViewBag.lang" id="lang" />
    <input type="hidden" value="@(BLL.ApplicationLicense.ClientLicenseManager.GetInstance().License.DatasourceMetadata ? "true": "false")" name="DatasourceMetadata" />

    <script src="~/react-dist/app-bundle.js?v=@v"></script>
    <script src="~/dist/customCharts.js?v=@ViewBag.customChartVersion"></script>
    <link href="~/dist/customCharts.css?v=@ViewBag.customChartVersion" rel="stylesheet" />
    <link href="~/react-dist/styles.css?v=@v" rel="stylesheet" />
    @*<link href="~/dist/lib/angular-material.min.css" rel="stylesheet" />
        <link href="~/src_v2/css/management/OlapChartDesign.css" rel="stylesheet" />
        <link href="~/src_v2/css/management/bootstarp-chart.css" rel="stylesheet" />
        <link href="~/src_v2/css/management/sadaf.css" rel="stylesheet" />
        <link href="~/src_v2/css/management/sadaf-rtl.css" rel="stylesheet" />*@

    <div ng-app="management" ng-controller="menusCtrl" ng-cloak layout="row" flex layout-fill>
        @Html.AntiForgeryToken()

        @if (!ViewBag.noframe) {
            <md-sidenav class="md-sidenav-right site-sidenav"
                        md-component-id="r"
                        xmd-disable-backdrop
                        xmd-is-locked-open="$mdMedia('gt-md')"
                        md-is-locked-open="$mdMedia('gt-md') && lock"
                        md-whiteframe="1"
                        style="max-width:250px">

                <a href="@(!BLL.ApplicationLicense.ClientLicenseManager.GetInstance().License.HideCopyrightTemporary?"http://www.sadafdashboard.ir":"#")" target="_blank">
                    @*<img src="~/api/settings/getLogo/0" alt="Sadaf" style="max-width:100%;max-height:128px; margin:15px auto; display:block" />*@
                    <img src="~/Images/logo_half.png" alt="Sadaf" style="max-width:100%;max-height:128px; margin:15px auto; display:block" />
                </a>

                <md-content flex>
                    <md-list style="width:100%">

                        <div ng-repeat="mc in menuCategories.data">
                            <md-list-item class="md-no-sticky pointer header" ng-click="mc.isOpen = !mc.isOpen; closeAll(mc);" ng-class="{active: mc.isOpen}">
                                <div layout="row" flex layout-align="start center">
                                    <b> {{mc.category.Name}}</b>
                                    <span flex></span>
                                    <span class="material-icons icon-animate " ng-class="{rotate : mc.isOpen}">keyboard_arrow_down</span>
                                </div>
                            </md-list-item>
                            <div uib-collapse="!mc.isOpen">
                                <md-list-item class="menu" ng-click="closeNav()" href="{{app.hashUrlPrefix}}#{{m.menu.Link}}" ng-repeat="m in mc.menus" ng-class="{active: m.active}">
                                    <span class="material-icons left-margin-16">{{m.menu.icon}}</span>
                                    <p class="md-offset"> {{ m.menu.Name }} </p>
                                </md-list-item>
                            </div>
                            <md-divider></md-divider>
                        </div>
                    </md-list>
                </md-content>
            </md-sidenav>
        }

        <div layout="column" flex>
            @if (!ViewBag.noframe) {

                <md-toolbar style="max-height:50px">
                    <div class="md-toolbar-tools" style="color: white;">
                        <md-button class="md-icon-button" aria-label="Settings" xhide-gt-md>
                            <span class="material-icons" ng-click="toggle()">menu</span>
                        </md-button>

                        <div layout="row">
                            <span ng-repeat="i in toolbar.getTitles()" layout="row" layout-align="center center">
                                <span class="material-icons" ng-hide="$index == 0">keyboard_arrow_left</span>
                                <md-button style="min-width:0" ng-click="i.click()" aria-label="click">{{i.name}}</md-button>
                            </span>
                        </div>

                        <div>
                            <div ng-show="menuCategories.licenceRemain.remain <= 15" class="ui label red">
                                تعداد روز باقیمانده از جواز استفاده:
                                <b style="text-decoration:underline;">{{persian(menuCategories.licenceRemain.remain, isPersian)}}</b> روز
                            </div>
                        </div>

                        <span flex></span>
                        <md-button href="@Href(useApp? "~/sadaf/main/": "~")">
                            {{'dashboard' | translate}}
                        </md-button>
                        <md-button href="@Url.Action("Help")/#/content/1">
                            {{'help' | translate}}
                        </md-button>

                        <md-menu>
                            <md-button class="md-icon-button" ng-click="$mdMenu.open($event)">
                                <span class="material-icons">power_settings_new</span>
                            </md-button>
                            <md-menu-content width="3">

                                <md-menu-item>
                                    <md-button href="profile/"><span>{{'profile' | translate }} </span></md-button>
                                </md-menu-item>

                                <md-menu-item>
                                    <md-button href="Account/LogOff"><span>{{'signout' | translate }}</span></md-button>
                                </md-menu-item>
                        </md-menu>
                    </div>
                </md-toolbar>
            }
            <ng-view flex layout="column"></ng-view>
        </div>

    </div>



    <script>
        //iframe communication
        //var $el = $('[ng-controller=menusCtrl]');
        //window.addEventListener('message', function (e) {
        //    if (!_.isString(e.data)) return;
        //    try {
        //        var message = JSON.parse(e.data);
        //        var scope = angular.element($el).scope();
        //        scope.iframeService.handleMessage(message);
        //        scope.$apply();
        //    } catch (e) {

        //    }
        //});

    </script>


    <script>
        @*var app = app || {};
        app.lang.setLangTyle(@ViewBag.lang);
        app.useEnglishDigit = JSON.parse("@((ViewBag.englishDigit ?? false ).ToString().ToLower())");
        app.lang.setLang();
        app.version = '@v';
        app.datasourceMetadata = @(BLL.ApplicationLicense.ClientLicenseManager.GetInstance().DatasourceMetadata ? "true": "false")
        var hash = "@ViewBag.returnUrlHash";
        if (hash) {
            location.hash = hash;
        }*@
    </script>
    @*<script src="~/license.js?v=@v"></script>*@
    <script>
        @*var license = JSON.parse('@Html.Raw(ViewBag.license)');
        app.license = _.extend(app.license || {}, license);*@
    </script>


    @*Clickjacking Defense*@
    <style id="antiClickjack">
        body {
            display: none !important;
        }
    </style>

    <script type="text/javascript">
        if (self === top) {
            var antiClickjack = document.getElementById("antiClickjack");
            antiClickjack.parentNode.removeChild(antiClickjack);
        } else {
            top.location = self.location;
        }
    </script>
    <script src="~/react-dist/bundle.js?v=@v"></script>


</body>
</html>