@{
    Layout = null;
}
<!DOCTYPE html>
<html style="height:initial">
<head>
    <meta charset="utf-8" />
    <base href="@Href("~")">
    <title>@ViewBag.Title</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    @{
        var isRelease = bool.Parse(System.Configuration.ConfigurationManager.AppSettings["releaseMode"] ?? "true");
        var v = typeof(BLL.ApplicationLicense.License).Assembly.GetName().Version.ToString();
        var version = typeof(BLL.ApplicationLicense.License).Assembly.GetName().Version;
        if (!isRelease) {
            v = (DateTime.Now - DateTime.MinValue).TotalMilliseconds.ToString();
        }

    }

    <link href="~/react-dist/styles.css?v=@v" rel="stylesheet" />


    <style>
        [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak, .ng-hide {
            display: none !important;
        }

        .clusterize-extra-row {
            margin-top: 0 !important;
            margin-bottom: 0 !important;
        }

            .clusterize-extra-row.clusterize-keep-parity {
                display: none;
            }

        .clusterize-content {
            outline: 0;
        }

        .clusterize-no-data td {
            text-align: center;
        }

        .main-container {
            background-color: #fff;
            overflow-y: hidden !important;
            /*border:1px dashed #efefef;*/
        }

        .horiz {
            width: 277mm;
            height: 180mm;
        }

        .vert {
            height: 277mm;
            width: 180mm;
        }

            .vert:nth-child(even), .horiz:nth-child(even) {
                background: #efefef
            }

        .border {
            border: 1px dashed #808080;
        }

        body.theme2, html {
            background-color: #fff !important;
        }

        @@media print {
            .no-print, .no-print * {
                display: none !important;
            }
        }
    </style>

    <meta name="fontiran.com:license" content="X4ZQZ">

    @if (ViewBag.theme != null) {
        var theme = (BLL.Process.ThemeModel)ViewBag.theme;
        <style>
            @Html.Raw(theme.extraCss)

            .my-fix::-webkit-scrollbar {
                background-color: darkgrey;
            }
            /*
            .my-fix {
                box-shadow: 0 1px 3px 0 rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 2px 1px -1px rgba(0,0,0,.12) !important;
            }

            .side-menu-item-parent {
                font-weight: bold;
            }
            */

            .side-menu-item-container.active {
                /*رنگ گروه منوی فعال*/
                background-color: @theme.menuActiveGroupBackColor;
            }


            .ui.inverted.segment, .ui.primary.inverted.segment {
                /*رنگ پشت منوی سمت راست*/
                background-color: @theme.menuBackColor;
                /*رنگ متن منوی سمت راست
                color: @theme.menuColor;
            */
            }

            .side-menu-item.active {
                /*رنگ خط سمت راست منوی فعال*/
                border-right: 5px solid @theme.menuActiveBorderColor;
                /*color: #ff5722;
                font-weight: bold;
            */
            }

            .side-menu-item {
                color: @theme.menuColor;
            }

                .side-menu-item:hover {
                    /*رنگ منو در حالتی موس روی آن است*/
                    background-color: @theme.menuHoverColor;
                }

            .sadaf-footer a {
                /*رنگ لینک پایین */
                color: @theme.menuColor;
            }

            body.theme2 {
    background-color: @theme.dashboardBackColor !important;
}
        </style>
    }


    <style>
        .chart-widget {
            page-break-before: always;
        }

        .print-page .full-height-container {
            height: initial;
            max-height: initial;
        }

        @@media print {
            dashboard-page {
                display: initial;
            }
            .chart-widget {
                page-break-inside: avoid;
                page-break-before: always;
            }

        }
    </style>
    <style name="size">
        @@page {
            margin: 1cm;
            size: A4 landscape
        }
    </style>
</head>
<body ng-app="sadaf" ng-cloak ng-controller="printController" class="theme2 print-page" style="overflow-y: scroll; height: initial; background: #fff !important;">
    @Html.AntiForgeryToken()
    <input type="hidden" value="@ViewBag.lang" id="lang" />
    <input type="hidden" id="isFullscreen" value="true" />
    <input type="hidden" id="dashboardPublishMenuId" value="@ViewBag.MenuId" />
    <input type="hidden" id="appId" value="@ViewBag.appId" />
    <input type="hidden" id="isShared" value="1" />
    <input type="hidden" id="print-mode" value="true" />


    <div class="ui mini form no-print" style="padding: 10px 20px;border-bottom: 1px solid #efefef;background: #64B5F6;">
        <div class="fields">
            <div class="field">
                <lebel>صفحه</lebel>
                <select ng-model="pageOrientation" ng-change="pageOrientationChange()">
                    <option value="1">افقی</option>
                    <option value="0">عمودی</option>
                </select>
            </div>
            <div class="field">
                <lebel style="display:block">&nbsp;</lebel>
                <div class="ui button icon black" onclick="print()"> چاپ <i class="ui icon print"></i> </div>
            </div>
            <div class="field">
                <lebel style="display:block">&nbsp;</lebel>
                <div class="ui button icon basic" ng-click="backToDash()"> نمایش صفحه داشبورد  </div>
            </div>
        </div>
    </div>


    <div ng-class="{horiz: pageOrientation === '1', vert : pageOrientation === '0'}"
         style="height: initial; max-height: initial; overflow-y: initial; margin: 0 auto;">
        <div style="position:absolute; xmargin-right:-10px;" class="no-print">
            <div class="border" ng-class="{horiz: pageOrientation === '1', vert : pageOrientation === '0'}"></div>
            <div class="border" ng-class="{horiz: pageOrientation === '1', vert : pageOrientation === '0'}"></div>
            <div class="border" ng-class="{horiz: pageOrientation === '1', vert : pageOrientation === '0'}"></div>
        </div>

        @if (ViewBag.theme != null) {
            var theme = (BLL.Process.ThemeModel)ViewBag.theme;
            var mh = theme.printHeaderMaxHeight > 0 ? theme.printHeaderMaxHeight + "px" : "initial";
            var align = theme.headerAlign ?? "initial";
            if (@theme.printHeaderId > 0) {
                <div style="text-align: @align; background-color:white; padding:10px 0">
                    <img style="max-height: @mh; display:inline-block;" src="~/api/upload/getPic/@theme.printHeaderId" />
                </div>
            }
        }

        <dashboard-page hidemenu></dashboard-page>
    </div>



    <input type="hidden" value="@System.Text.RegularExpressions.Regex.Replace( Url.Action("management", "sadaf").ToString().ToLower(), "sadaf/management.*", "")" name="baseUrl" />
    <input type="hidden" value="@Request.Url.AbsoluteUri" name="aboluteUrl" />
    <input type="hidden" value="@v" name="version" />
    <input type="hidden" value="@ViewBag.isRtl" name="isRtl" />
    <input type="hidden" value="@(Url.Action("management", "sadaf") + "/")" name="hashUrlPrefix" />
    <input type="hidden" value="@(Html.Raw(ViewBag.license ?? "{}").ToString().Replace("\"","\\\""))" name="license" />
    <input type="hidden" value="@((ViewBag.englishDigit ?? false ).ToString().ToLower())" name="useEnglishDigit" />
    <input type="hidden" value="false" name="shareMode" />
    <input type="hidden" value="print" name="mode" />

    <script src="~/react-dist/app-bundle.js?v=@v"></script>



    @if (ViewBag.cdn.enable) {
        for (int i = 0; i < ViewBag.cdn.items.Count; i++) {
            if (ViewBag.cdn.items[i].type == 1) {
                <script src="@ViewBag.cdn.items[i].link"></script>
            }
            if (ViewBag.cdn.items[i].type == 0) {
                <link href="@ViewBag.cdn.items[i].link" rel="stylesheet" />
            }
        }
    }


    <script src="~/react-dist/customCharts.js?v=@ViewBag.customChartVersion"></script>
    <link href="~/react-dist/customCharts.css?v=@ViewBag.customChartVersion" rel="stylesheet" />

    <script>
        //dashboard.mode = 'print';

        var userVariable = @Html.Raw(Json.Encode(ViewBag.userVariable));
        if(_.isArray(userVariable)){
            localStorage.setItem('userVariable',JSON.stringify( userVariable));
        }

        //$('.ui.dropdown').dropdown();
        //$('.ui.checkbox').checkbox();
        ////$('.ui.modal').modal();

        @*var app = app || {};
        app.version = "@v";
        app.setAboluteUrl("@Request.Url.AbsoluteUri");

        app.hashUrlPrefix = "@Url.Action("main", "sadaf")" + "/";
        app.urlPrefix = "@Url.Action("management", "sadaf")".replace(/sadaf\/management.*/g, "");
        app.aboluteUrl = "@Request.Url.AbsoluteUri";
        app.setUrlPrefix("@Url.Action("management", "sadaf")".replace(/sadaf\/management.*/g, ""));*@



        //app.userId = user.Id;

        var hash = "@ViewBag.returnUrlHash";
        if (hash) {
            location.hash = hash;
        }
        @*app.lang.setLangTyle(@ViewBag.lang);

        app.lang.setLang();
        app.version = '@(Boolean.Parse(System.Configuration.ConfigurationManager.AppSettings["releaseMode"] ?? "true")
            ? (DateTime.Now - DateTime.MinValue).TotalMilliseconds.ToString() : v.ToString())';*@

    </script>

    <script>
        //iframe communication
        //var $el = $('[ng-controller=dashboardPageCtrl]');
        //window.addEventListener('message', function (e) {
        //    if (!_.isString(e.data)) return;

        //    var message = JSON.parse(e.data);

        //    var scope = angular.element($el).scope();
        //    scope.iframeService.handleMessage(message);
        //    scope.$apply();
        //});

    </script>

    @*Clickjacking Defense*@
    <style id="antiClickjack">
        body {
            display: none !important;
        }
    </style>

    <script type="text/javascript">
        if (self === top) {
            var antiClickjack = document.getElementById("antiClickjack");
            antiClickjack.parentNode.removeChild(antiClickjack);
        } else {
            top.location = self.location;
        }
    </script>
</body>

</html>
